{{#user}}
<header>
  <nav>
    <a href="/logout">Logout</a>
  </nav>
  <h1>Hello, {{username}} -- @{{displayname}}</h1>
</header>


<div class="user_container">





<form class="post_form" action="/user" method="post">
  <textarea name="text" rows="8" cols="80" placeholder="Tell us about your Adventures in 140 characters or less..."></textarea>
  <input type="submit" name="submit" value="Post">
</form>


<div class="newPost">
  {{#post}}
    <div class="individual">
        <h4>@{{user.dataValues.displayname}}</h4>
        <p>{{text}}</p>
        <p>{{createdAt}}</p>


        {{#canDelete}}
        <a href="/like/{{id}}">Like</a>
        <a href="/destroy/{{id}}">Delete Post</a>
        {{/canDelete}}
        {{^canDelete}}
        <a href="/like/{{id}}">Like</a>
        {{/canDelete}}

    </div>
  {{/post}}
</div>


</div>
{{/user}}
