<nav>
  <a href="/logout">Logout</a>
</nav>
<div class="user_container">

{{#user}}
<h1>Hello, {{username}} -- @{{displayname}}</h1>



<form class="post_form" action="/user" method="post">
  <textarea name="text" rows="8" cols="80" placeholder="Tell us about your Adventures in 140 characters or less..."></textarea>
  <input type="submit" name="submit" value="Post">
</form>


<div class="newPost">
  {{#post}}
    <div class="individual">
        <h4>@{{user.dataValues.displayname}}</h4>
        <p>{{text}}</p>
        <p>{{createdAt}}</p>


        {{#canDelete}}
        <a href="/destroy/{{id}}">Delete Post</a>
        {{/canDelete}}


    </div>
  {{/post}}
</div>


</div>
{{/user}}
