*{
  /*border: 1px solid red;*/
  font-family: 'Playfair Display', serif;
}

.form_container{
  display: flex;
  flex-direction: row;
  height: 700px;
  background-image: url('takahiro-sakamoto-181476.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login_container{
  width: 33%;
  text-align: center;
  color: white;
  font-size: 30px;
  margin-top: 30px;
  font-family: 'Roboto Condensed', sans-serif;
}

.login_form{
  padding: 20px;
}
.login_form input{
  height: 50px;
  width: 200px;
  font-size: 20px;
}

.login_form button{
  height: 30px;
  width: 150px;
}

.signup_container{
  width: 33%;
  text-align: center;
  color: white;
  margin-top: 30px;
  font-size: 30px;
  font-family: 'Roboto Condensed', sans-serif;
}

.signup_form{
  padding: 20px;
}

.signup_form input{
  height: 50px;
  width: 200px;
  font-size: 20px;
}

.signup_form button{
  height: 30px;
  width: 150px;
}

.headline{
  width: 33%;
  text-align: center;
  color: darkcyan;
  background-color: white;
  opacity: .7;
}
.headline h1{
  font-size: 60px;
  border-bottom: 2px dashed gray;
  margin: 200px 30px 0px 30px;
}

.individual{
  border: 1px solid gray;
  width: 50%;
}
