*{
  /*border: 1px solid red;*/
  font-family: 'Playfair Display', serif;
}

.form_container{
  display: flex;
  flex-direction: row;
  height: 700px;
  background-image: url('takahiro-sakamoto-181476.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login_container{
  width: 33%;
  text-align: center;
  color: white;
  font-size: 30px;
  margin-top: 30px;
  font-family: 'Roboto Condensed', sans-serif;
}

.login_form{
  padding: 20px;
}
.login_form input{
  height: 50px;
  width: 200px;
  font-size: 20px;
}

.login_form button{
  height: 30px;
  width: 150px;
}

.signup_container{
  width: 33%;
  text-align: center;
  color: white;
  margin-top: 30px;
  font-size: 30px;
  font-family: 'Roboto Condensed', sans-serif;
}

.signup_form{
  padding: 20px;
}

.signup_form input{
  height: 50px;
  width: 200px;
  font-size: 20px;
}

.signup_form button{
  height: 30px;
  width: 150px;
}

.headline{
  width: 33%;
  text-align: center;
  color: darkcyan;
  background-color: white;
  opacity: .7;
}
.headline h1{
  font-size: 60px;
  border-bottom: 2px dashed gray;
  margin: 200px 30px 0px 30px;
}

nav{
  background-color: darkcyan;
  height: 50px;
}
nav a{
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 20px;
}

.user_container{
  background-color: darkcyan;
}

.user_container h1{
  margin-left: 20px;
  color: lightcyan;
}

h5{
  color: white;
  margin-left: 30px;
  font-size: 16px;
}


.post_form{
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.post_form textarea{
  font-size: 20px;
  width: 50%;
  border: 10px dashed gray;
  align-self: center;
}

.post_form input{
  width: 100px;
  height: 70px;
  background-color: lightcyan;
  margin-top: 15px;
  align-self: center;
}

.individual{
  border: 3px solid gray;
  width: 50%;
  background-color: white;
  margin: 20px;
  padding: 20px;
}

.individual a{
  text-decoration: none;
}

.individual h4{
  border-bottom: 1px dashed gray;
  width: 50%;
}
